body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  letter-spacing: .04em;
  text-rendering: optimizeLegibility;
}

.views-content{
  margin-bottom: 3vw;
  padding-right: 3vw;
  padding-left: 3vw;
  width: auto;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin: 3vw auto;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.project-title{
  line-height: 1.2em;
    letter-spacing: 0em;
    text-transform: none;
    color: #333;
    text-align: center;
}

p{
  word-wrap: break-word;
  font-size: 20px;
  line-height: 1.8em;
  letter-spacing: .04em;
  text-rendering: optimizeLegibility;
}

p a{
  color: #004175;
  text-decoration: none;
}

.outer-main-content{
  width: 83.3333%;
  margin: auto;
}

.inner-main-content{
  width: 83.3333%;
  margin: auto;
}

h3{
  line-height: 1.2em;
  letter-spacing: .02em;
  text-transform: uppercase;
}

.image-block{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer{
  padding: 1em;    
  /* background: #ededed; */
  display: flex;
  position: initial;
  justify-content: center;
  align-items: center;
  color: #004175;
  flex-direction: column;
}

.social-buttons{
  display: flex;
  justify-content: center;
}

.social-buttons a{
    font-size: 1.9em;
    padding: 1em;
    color: black;
}

.social-buttons a:nth-child(4):hover{
  color: #1da1f2;
}

.social-buttons a:nth-child(1):hover{
  color: #f21d37;
}

.social-buttons a:nth-child(3):hover{
  color: #0077b5;
}

/* .social-buttons a:focus{
  color: #898989;
} */

.social-buttons a:nth-child(3):focus{
  color: #0077b5;
}

.social-buttons a:nth-child(4):focus{
  color: #1da1f2;
}

header{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.nav-focus{
  color: #004175;
}

// .nav-button{
//   margin: .2em;
//   padding: 1em;
//   background: #fff;
//   color: black;
//   border: 2px solid #fff;
//   padding: 1em;
//   cursor: pointer;
//   font-size: 1.3em;
//   min-width: 100px;
// }

// .nav-button:hover{
//   margin: .2em;
//   padding: 1em;
//   /* background: #ededed; */
//   color: #3f3f3f;
// }

// .nav-button:focus{
//   margin: .2em;
//   padding: 1em;
//   /* background: #ededed; */
//   color: #004175;
//   outline: 0; /* bad practice remove it for accessability reasons */
// }

#icon{
  text-shadow: none;
  display: block;
  font-size: 64px;
  color: rgb(255, 255, 255);
  height: 80px;
  width: 80px;
  line-height: 90px;
  border-radius: 6%;
  text-align: center;
  background-color: rgb(112, 112, 112);
  margin: 0 auto;
  text-decoration: none; 
  /* border: 1px solid white; */
}

#logo{
  padding: 1.5em;
}

.biggest-task{
  font-weight: bold;
}

.blank-div{
  padding-bottom: 2.22447%;
}

.links{
  display: flex;
  justify-content: center;
}

.links a{
  padding: 0 1em;
  margin: 0 1em;
  color: #004175;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav{
      width: 100%;
  }

  // .nav-button {
  //     font-size: 1.1em;
  //     font-weight: bold;
  // }

  header{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
  }

  .social-buttons a {
      font-size: 1.1em;
      padding: 1em;
      color: black;
      text-decoration: none;
  }
}