html{
    background: #707070;
    font-family: 'Sunflower', sans-serif;
    height: 100%;
}
/* //position absolute left right bottom 0 */
body{
    margin: 0;
}

main{
    display: flex;  
    /* flex-flow: row wrap; */
    font-weight: bold;    
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    /* text-align: center; */
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

main > * {
    /* padding: 10px; */
    flex: 1 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer{
    background: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f3f3f;
}

.nav-button{
    margin: .2em;
    padding: 1em;
    background: #898989;
    color: #ededed;
    border: 2px solid #898989;
}

.nav-button:hover{
    margin: .2em;
    padding: 1em;
    background: #ededed;
    color: #3f3f3f;
    border: 2px solid #3f3f3f;
}

.headline-bio{
    padding: 1.5em;
    color: #ededed;
}

.projects{
    padding: 1em;
    color: #ededed;
    display: flex;
    flex-direction: column;
}

#icon{
    text-shadow: none;
    display: block;
    font-size: 64px;
    color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    line-height: 90px;
    border-radius: 6%;
    text-align: center;
    background-color: rgb(112, 112, 112);
    margin: 0 auto;
    text-decoration: none; 
    border: 1px solid white;
}

.nav-button{
    padding: 1em;
}

.hidden{
    display: none;
}

.card {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    margin-bottom: 1em;
    border: 1px solid #3f3f3f;
}
  
.project-one{
   background: url(./images/lol-improver\ dashboard-cropped.png);
   background-size: 310px;
   background-repeat: no-repeat;
   background-position: 50% -10%; 
}
  
  .wrapper{
    height: 100%;
    position: relative;
  }
  
  .data{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: #ededed;
    color: #3f3f3f;
    border-top: 1px solid #3f3f3f;
  }
  
  .card-link{
    text-align: center;
  }
  
  .card-link a{
    color: #3f3f3f;
    padding: 1em;
  }
  
  .card-link a:first-child{
    border-right: 1px solid #3f3f3f;
  }
  

  .contact{
    color: #ededed;
  }

  .social-buttons{
    display: flex;
    justify-content: center;
  }

  .social-buttons a{
      font-size: 1.3em;
      padding: 1em;
      color: #ededed;
  }

  #contact{
      padding: 1.5em;
  }

  @media only screen and (min-width: 768px){
    #projects{
        flex-direction: column;
    }

    .card{
      margin: 1em;
      height: 635px;
      border: 1px solid #3f3f3f;
    }

    .section{
      max-width: 65%;
      margin: auto;
    }

    .project-one{
      background-size: 100%;
      background-position: 50% -5%;
    }

    .data{
        background: #ededed;
        color: #3f3f3f;
    }

    .card-link a{
        color: #3f3f3f;
    }

    .card-link a:first-child {
      border-right: 1px solid #707070;
    }
}


  @media only screen and (min-width: 1024px){
      #projects{
          flex-direction: column;
      }

      .card{
        margin: 1em;
        height: 800px;
        border: 1px solid #3f3f3f;
      }

      .section{
        max-width: 65%;
        margin: auto;
      }

      .project-one{
        background-size: 100%;
        background-position: 50% -5%;
      }

      .data{
          background: #ededed;
          color: #3f3f3f;
      }

      .card-link a{
          color: #3f3f3f;
      }

      .card-link a:first-child {
        border-right: 1px solid #707070;
    }
  }