html{
    background: #707070;
    font-family: 'Sunflower', sans-serif;
    height: 100%;
}

body{
    margin: 0;
}

main{
    display: flex;  
    /* flex-flow: row wrap; */
    font-weight: bold;    
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    /* text-align: center; */
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

main > * {
    /* padding: 10px; */
    flex: 1 100%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

footer{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f3f3f;
}

.nav-button{
    margin: .2em;
    padding: 1em;
    background: #898989;
    color: #ededed;
    border: 2px solid #898989;
}

.nav-button:hover{
    margin: .2em;
    padding: 1em;
    background: #ededed;
    color: #898989;
    border: 2px solid #898989;
}

.headline-bio{
    padding: 1.5em;
    color: #ededed;
}

.projects{
    padding: 1em;
    color: #ededed;
    display: flex;
    flex-direction: column;
}

#icon{
    text-shadow: none;
    display: block;
    font-size: 64px;
    color: rgb(255, 255, 255);
    height: 80px;
    width: 80px;
    line-height: 90px;
    border-radius: 6%;
    text-align: center;
    background-color: rgb(112, 112, 112);
    margin: 0 auto;
    text-decoration: none; 
    border: 1px solid white;
}

.nav-button{
    padding: 1em;
}

.hidden{
    display: none;
}

.card{
    border: 1px solid #ededed;
    width: 100%;
    margin: auto;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/51yXB%2BW5RcL.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    min-height: 350px;
    max-height: 350px;
    position: relative;
    color: #ededed;
    /* box-shadow: 0 1px 3px #ededed, 0 1px 2px #ededed; */
    /* transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
    margin-bottom: 1em;
  }
  
  .title{
    background: white;
    padding: 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top:0;
    width: 100%;
    background: #707070;
    /* border-bottom: 1px solid #ededed; */
  }

  .title a {
    text-decoration: none;
    color: white;
    padding: .7em;
    display: block;
  }
  
  .card-summary{
    background: white;
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin: 0;
    background: #707070;
    /* border-top: 1px solid #ededed; */
  }